<section id="evening-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">It's a marvelous night for a moondance</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Terrible dancing and drinks</dd>
                    <dt>When</dt>
                    <dd>Saturday, 13th July at 19:00</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Grey Manor Hotel<br>
                            <a href="https://goo.gl/maps/F97Eu7RLLXN2">Parkhouse Cross, Cholderton, Salisbury SP4 0EG</a><br>
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail. Be warned: it's not all outside but there is grass, and your stilettos may sink deep into it.
                    </dd>
                    <dt>Transportation</dt>
                    <dd>
                        Should we run a bus service for the day guests?
                        Provide local taxi company numbers.
                    </dd>
                    <dt>Parking</dt>
                    <dd>Parking is available on-site</dd>
                    {% comment %}
                    <dt>Afterwards</dt>
                    <dd>
                        Add this section to the event.html file?
                    </dd>
                    {% endcomment %}
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Swwet dreams are made of these</h2>
                <hr class="primary">
                <p>
                    The hotel can host a number of guests. We will put forward a booking system to ease the pain of finding somewhere to stay.
                    All in good time!
                </p>
            </div>
        </div>
    </div>
</section>
