<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Days like this</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>The Ceremony</dd>
                    <dt>When</dt>
                    <dd>Saturday 13th July 2019 at 12:00</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            St Osmund's Church<br>
                            <a href="https://goo.gl/maps/vBnjk1CTG6o">95 Exeter St, Salisbury SP1 2SF</a><br>
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Formal</dd>
                    <dt>Transportation</dt>
                    <dd>Transportation is not provided. Please plan responsibly.</dd>
                    <dt>Parking</dt>
                    <dd>There is no free parking! Parking is available across the street, but be advised it will fill up.
                        Additional parking can be found at the <a href="https://goo.gl/maps/2CmQxf1r9y42">Old George Mall</a>
                        or <a href="https://goo.gl/maps/6n6GYqeLpsj">Brown Street West</a> car parks. Both are less than 5 minutes away.</dd>
                    <dt>Other info</dt>
                    <dd>
                        Not sure how to link in the hotel stay and stuff. Discuss!
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
