{% extends "base.html" %}
{% load staticfiles %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">

{% endblock %}
{% block page_content %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Leo and Morgan's Big Day</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#main-header">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#event">Day</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#evening-event">Evening</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#story">Our Tale</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block main %}
    <header id="main-header">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>He finally asked!</h1>
                <!--<hr>-->
                <!--<a href="#welcome" class="btn btn-info btn-xl page-scroll">Welcome</a>-->
                <a href="#event" class="btn btn-info btn-xl page-scroll">Day</a>
                <a href="#evening-event" class="btn btn-info btn-xl page-scroll">Evening</a>

            </div>
        </div>
    </header>
    <section class="bg-info" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Welcome!</h2>
                    <hr>
                    <p>
                        Hello friends and family! It's a a good year out from the wedding but things are starting to come together.
                    </p>
                    <p>
                        If you're looking for information about the event, look no further!
                        Please see below for all the details for <a href="#event" class="page-scroll">day guests</a> and <a href="#evening-event" class="page-scroll">evening guests</a>.
                    </p>
                    <p>
                        If you have any questions regarding the big day, please feel free drop drop us an email: <a href="mailto:{{ support_email }}">{{ support_email }}</a>.
                        Also, the current front-runner for the wedding hashtag (if you're into that sort of thing) is #jaeggioneill.
                    </p>
                    <p>
                        Looking forward to seeing everyone soon (ish)!
                    </p>
                    <p class="pull-right">- Leo and Morgan</p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding" id="navigation">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#event" class="portfolio-box page-scroll">
                        <img src="{% static '/bigday/images/st_osmunds_salisbury_old_640x395.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    During the day
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#evening-event" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/grey_manor_hotel_640x395.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    In the evening
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#story" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/july2011_640x395.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Our Story
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/event.html' %}
    {% include 'partials/evening-event.html' %}

{% comment %}
    {% include 'partials/wedding-party.html' %}
{% endcomment %}

{% comment %}
    <section id="other-stuff" class="bg-primary nopadding">
        {% include 'partials/misc.html' %}
    </section>
{% endcomment %}

{% comment %}
    <section id="gifts">
        {% include 'partials/gifts.html' %}
    </section>
{% endcomment %}

    <section id="story" class="bg-dark nopadding">
        {% include 'partials/story.html' %}
    </section>

{% comment %}
    <section>
    {% include 'partials/proposal.html' %}
    </section>
{% endcomment %}

{% comment %}
    <section>
        {% include 'partials/save-the-dates.html' %}
    </section>
{% endcomment %}

    <section id="contact" class="bg-info nopadding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact us!</h2>
                    <hr class="primary">
                    <p>If you have any questions don't hesitate to reach out!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
